@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0;}
img{ vertical-align:top; border:none;}
li{ list-style:none;}
a{ text-decoration:none; color:#3c3c3c;}

.fl{ float:left;}
.fr{ float:right;}
.clearfix:after{ content:''; display:block; clear:both;}
body{ font-size:12px;}
.w{ width:1190px; margin:0 auto;}
input{ border:none; outline:none;}
