@charset "utf-8";
/* CSS Document */
body,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dd,p,input,textarea{ margin:0; padding:0;}
img{ vertical-align:top; border:none;}
li{ list-style:none;}
a{ text-decoration:none; color:#333; }


.fl{ float:left;}
.fr{ float:right;}
.clearfix:after{ content:''; display:block; clear:both;}
.w{ width:980px; margin:0 auto;}
input{ border:none; outline:none;}
body{ font-size:12px; font-family:'微软雅黑';}

